<div class="page-title-area title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Otros Servicios</h2>
                <ul>
                    <li><a routerLink="/">Inicio</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li><a routerLink="/practice">Servicios</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li>Otros Servicios</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="help-area help-area-two pb-70">
    <div class="container-fluid">
        <div class="row align-items-center pt-100">
            <div class="col-lg-6">
                <div class="help-item help-left">
                    <img src="assets/img/home-two/5.jpg" alt="Help">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="help-item">
                    <div class="help-right">
                        <p class="text-justify">De la mano de nuestro prestigioso equipo de abogados expertos en las diferentes disciplinas del derecho, ofrecemos asesoría, representación y acompañamiento en cualquier caso que se le presente, bien sea como persona natural o jurídica, dentro de las siguientes áreas legales:</p>

                        <ul>
                            <li><i class="flaticon-checkmark"></i> Acciones de Tutela</li>
                            <li><i class="flaticon-checkmark"></i> Derechos de Petición</li>
                            <li><i class="flaticon-checkmark"></i> Consultoría general</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
