<div class="page-title-area title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Otros Servicios</h2>
                <ul>
                    <li><a routerLink="/">Inicio</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li><a routerLink="/practice">Servicios</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li>Otros Servicios</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="help-area help-area-two pb-70">
    <div class="container-fluid">
        <div class="row align-items-center pt-100">
            <div class="col-lg-6">
                <div class="help-item help-left">
                    <img src="assets/img/home-two/5.jpg" alt="Help">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="help-item">
                    <div class="help-right">
                        <p class="text-justify">Ofrecemos asesoría, representación y acompañamiento en cualquier caso que se le presente, dentro de las siguientes acciones: </p>

                        <ul>
                            <li><i class="flaticon-checkmark"></i> Acciones de tutela.</li>
                            <li><i class="flaticon-checkmark"></i> Acciones populares.</li>
                            <li><i class="flaticon-checkmark"></i> Acciones de grupo.</li>
                            <li><i class="flaticon-checkmark"></i> Derechos de petición.</li>
                            <li><i class="flaticon-checkmark"></i> Consultoría general.</li>
                            <li><i class="flaticon-checkmark"></i> Asesoría en tránsito y transporte.</li>
                            <li><i class="flaticon-checkmark"></i> Plan estratégico en seguridad vial.</li>
                            <li><i class="flaticon-checkmark"></i> Plan de emergencia.</li>
                            <li><i class="flaticon-checkmark"></i> Investigaciones de accidentes laborales.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
