<div class="page-title-area title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2 class="dorado">Derecho Administrativo </h2>
                <ul>
                    <li><a routerLink="/">Inicio</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li><a routerLink="/practice">Servicios</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li class="dorado">Derecho Administrativo</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="help-area help-area-two pb-70">
    <div class="container-fluid">
        <div class="row align-items-center pt-100">
            <div class="col-lg-6">
                <div class="help-item help-left">
                    <img src="assets/img/servicios/Derecho_penal.png" alt="Help">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="help-item">
                    <div class="help-right">
                        <p class="text-justify">En el ámbito del derecho administrativo tenemos amplio conocimiento para acompañar las relaciones, los procesos y/o conflictos que resulten por la relación entre el estado y los ciudadanos.</p>
                        <p class="text-justify">En OB CONSULTORES diseñamos la mejor estrategia jurídica para asesorarte y llevar a cabo el éxito en los procesos. </p>

                        <ul>
                            <li><i class="dorado flaticon-checkmark"></i> Asesorías y reclamaciones administrativas.</li>
                            <li><i class="dorado flaticon-checkmark"></i> Defensa y representación administrativa, judicial y/o extrajudicial de entidades públicas.</li>
                            <li><i class="dorado flaticon-checkmark"></i> Representación judicial y extrajudicial en procesos contencioso-administrativos, de los medios de control:</li>
                            <ul class="sub-item">
                                <li>Reparación directa.</li>
                                <li>Nulidad.</li>
                                <li>Nulidad y restablecimiento del derecho.</li>
                                <li>Controversias Contractuales.</li>
                                <li>Protección de los derechos e intereses colectivos.</li>
                            </ul>
                        </ul>
                        <!-- <div class="help-inner-left">
                            <ul>
                                <li><i class="flaticon-checkmark"></i>
                                    Browse Our Website</li>
                                <li><i class="flaticon-checkmark"></i> Choose Services</li>
                            </ul>
                        </div>

                        <div class="help-inner-right">
                            <ul>
                                <li><i class="flaticon-checkmark"></i> Quick Reply</li>
                                <li><i class="flaticon-checkmark"></i> Best Performances</li>
                            </ul>
                        </div>

                        <div class="help-signature">
                            <img src="assets/img/home-one/4.png" alt="Signature">
                        </div>

                        <h3>Barrister Babatunde Smithi</h3>
                        <span>Founder and CEO</span> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h5>Pensiones</h5>
            <p class="text-justify">Nuestra experiencia nos permite brindar una asesoría especializada a  cualquier  persona  que  presente  inconsistencias  en  sus  aportes pensionales  y/o  se  sienta  vulnerado  en  sus  derechos  pensionales adquiridos; nuestro trabajo va desde una corrección en su historial laboral  hasta  la  representación  legal  que  le  permita  el reconocimiento y goce de éste derecho.</p>
            <br>
            <h5>Insolvencia Económica </h5>
            <p class="text-justify">Contamos personal expertos en el tema de insolvencia, el cual permitirá  resolver de la mejor manera su situación financiera, generando la mejor estrategia de negociación  de las acreencias financieras y/o comerciales frente a todos los acreedores. </p>
        </div>
    </div>
</div>
