<div class="page-title-area page-title-area-three title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2 class="dorado">Nosotros</h2>

                <ul>
                    <li><a routerLink="/">Inicio</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li>Nosotros</li>
                </ul>

                <!-- <div class="page-title-btn">
                    <a routerLink="/testimonial">ALL CERTIFICATES<i class="icofont-arrow-right"></i></a>
                </div> -->
            </div>
        </div>
    </div>
</div>

<div class="help-area help-area-two help-area-four pb-70">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="help-item help-left">
                    <img src="assets/img/home-two/5.jpg" alt="Help">
                </div>
            </div>
            <div class="
            col-lg-6">
                <div class="help-item">
                    <div class="help-right">
                        <h2>QUIÉNES SOMOS</h2>
                        <p class="text-justify">
                            OB CONSULTORES S.A.S., es una empresa dedicada a la Consultoría Integral en todos los temas jurídicos con una adecuada representación y actuación en derecho penal, civil, laboral, administrativo, familiar, pensiones, insolvencia económica, seguridad social entre otros. también desarrollamos de manera eficiente y eficaz consultorías en Sistemas Integrados de Gestión - SIG, Sistemas de Gestión en Seguridad y Salud en el Trabajo - SG-SST, Asesorías en Tránsito y Transporte, PESV, entre otros. Somos un equipo integrado por profesionales altamente capacitados y cualificados con valores y principio, comprometidos y convencidos de ofrecer un servicio multidisciplinar integro con el único propósito de obtener la satisfacción de todos nuestros clientes.
                        </p>

                        <!-- <div class="help-inner-left">
                            <ul>
                                <li><i class="flaticon-checkmark"></i> Oportunidad</li>
                                <li><i class="flaticon-checkmark"></i> Prevención</li>
                                <li><i class="flaticon-checkmark"></i> Confiabilidad</li>
                            </ul>
                        </div>

                        <div class="help-inner-right">
                            <ul>
                                <li><i class="flaticon-checkmark"></i> Efectividad</li>
                                <li><i class="flaticon-checkmark"></i> Responsabilidad</li>
                                <li><i class="flaticon-checkmark"></i> Ética</li>
                            </ul>
                        </div> -->

                        <!-- <div class="help-signature">
                            <img src="assets/img/home-one/4.png" alt="Signature">
                        </div>

                        <h3>Barrister Babatunde Smithi</h3>
                        <span>Founder and CEO</span> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center help-wrap">
            <div class="col-lg-6">
                <div class="help-item">
                    <div class="help-right">
                        <h2>Nuestra Entidad</h2>

                        <h3><i class="flaticon-checkmark"></i> MISIÓN</h3>

                        <p class="text-justify">Asesorar y brindar soluciones jurídicas a nuestros clientes, en las diferentes áreas del derecho, ofreciendo un ser vicio de confidencialidad, calidad y excelencia, posicionándonos como una sociedad líder en el departamento del Huila en la prestación de servicios de representación judicial y consultoría jurídicas.</p>

                        <h3><i class="flaticon-checkmark"></i> VISIÓN</h3>

                        <p class="text-justify">En 2025 ser reconocida como una firma consultora líder a nivel nacional, comprometida con el desarrollo y posicionamiento de nuestros clientes, basados en la eficiencia jurídica que permita lograr mejores estándares de competitividad.</p>
                        <!-- <p>Teams of  Intelligent & Professional Attorneys of Lyzo are always prepared to make you triumph. We always try our best to make our clients happy.</p>

                        <div class="help-inner-left">
                            <ul>
                                <li><i class="flaticon-checkmark"></i> On Time Response</li>
                                <li><i class="flaticon-checkmark"></i> Legal Way</li>
                            </ul>
                        </div>

                        <div class="help-inner-right">
                            <ul>
                                <li><i class="flaticon-checkmark"></i> Legal Services</li>
                                <li><i class="flaticon-checkmark"></i> Honest Work</li>
                            </ul>
                        </div>

                        <a class="cmn-btn" routerLink="/practice">Learn More</a> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="help-item help-left">
                    <img src="assets/img/home-two/6.jpg" alt="Help">
                </div>
            </div>
        </div>

        <div class="help-shape">
            <img src="assets/img/home-one/6.png" alt="Shape">
        </div>
    </div>
</div>

<section class="expertise-area expertise-area-two pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <!-- <span>OUR EXPERTISE</span> -->
            <h2 class="dorado">Principios Institucionales</h2>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-6">
               <div class="expertise-item">
                    <ul>
                        <li class="wow fadeInUp" data-wow-delay=".3s">
                            <div class="expertise-icon">
                                <i class="flaticon-experience"></i>
                                <img src="assets/img/home-one/11.png" alt="Shape">
                            </div>
                            <h3 class="dorado">JUSTICIA</h3>
                            <p class="text-justify">la protección y la defensa de los derechos de nuestros clientes, en pro del valor de la justicia.</p>
                        </li>

                        <li class="wow fadeInUp" data-wow-delay=".4s">
                            <div class="expertise-icon">
                                <i class="flaticon-auction"></i>
                                <img src="assets/img/home-one/11.png" alt="Shape">
                            </div>
                            <h3 class="dorado">EFECTIVIDAD</h3>
                            <p class="text-justify">Del análisis profundo de las posibles soluciones jurídicas únicamente se adoptan las de mayor beneficio para nuestros clientes, orientando nuestra acción a la defensa de sus intereses, la minimización del impacto y el menoscabo de los mismos</p>
                        </li>

                        <!-- <li class="wow fadeInUp" data-wow-delay=".5s">
                            <div class="expertise-icon">
                                <i class="flaticon-balance"></i>
                                <img src="assets/img/home-one/11.png" alt="Shape">
                            </div>
                            <h3>Legal Proces</h3>
                            <p>We maintain all valid papers and paperwork and continue to meet our destination legally.</p>
                        </li> -->
                    </ul>
               </div>
            </div>

            <div class="col-lg-6">
               <div class="expertise-item">
                    <ul>
                        <li class="wow fadeInUp" data-wow-delay=".3s">
                            <div class="expertise-icon">
                                <i class="flaticon-vulnerability"></i>
                                <img src="assets/img/home-one/11.png" alt="Shape">
                            </div>
                            <h3 class="dorado">EXELENCIA</h3>
                            <p class="text-justify">nuestra filosofía corporativa está orientada en la prestación de servicios de calidad, por lo que nos esmeramos en un constante actualización y capacitación que nos permite ser eficientes y eficaces en nuestras áreas del saber, ofreciendo a nuestros clientes la excelencia que merecen.</p>
                        </li>

                        <li class="wow fadeInUp" data-wow-delay=".4s">
                            <div class="expertise-icon">
                                <i class="flaticon-time"></i>
                                <img src="assets/img/home-one/11.png" alt="Shape">
                            </div>
                            <h3 class="dorado">RESPONSABILIDAD, CONFIABILIDAD Y ÉTICA</h3>
                            <p class="text-justify">Ofrecemos tranquilidad jurídica a quienes depositan en nuestras manos sus asuntos legales, prejudiciales y judiciales, con la mayor garantía de contar con nuestra especial, diligencia y el mayor sigilo profesional.</p>
                        </li>

                        <!-- <li class="wow fadeInUp" data-wow-delay=".5s">
                            <div class="expertise-icon">
                                <i class="flaticon-conversation"></i>
                                <img src="assets/img/home-one/11.png" alt="Shape">
                            </div>
                            <h3>Quick Service</h3>
                            <p>We manage all valid papers and paperwork and continue to enter our path lawfully.</p>
                        </li> -->
                    </ul>
               </div>
            </div>
        </div>
    </div>
</section>

<div class="about-area pt-100">
    <div class="container">
        <h2 class="text-center">Política de Calidad</h2>
        <p class="text-justify">La excelencia, eficacia y responsabilidad en cada servicio prestado, nos dan la garantia de generar la mayor satisfaccion a nuestros clientes. Nuestro capital humano capacitado, nos permite obtener el éxito esperado por todos. Estamos comprometidos en el cumplimiento legal de todos los requisitos exigidos en los ordenamiento jurídicos actuales siempre buscando la mejora continua de nuestro Sistema de Gestion de Calidad.</p>
        <!-- <div class="row">
            <div class="col-lg-6">
                <div class="about-item">
                    <div class="about-video-wrap">
                        <div class="about-video">
                            <img src="assets/img/about/2.jpg" alt="About">
                        </div>

                        <a href="https://www.youtube.com/watch?v=Y5KCDWi7h9o" class="popup-youtube"><i class="icofont-ui-play"></i></a>
                    </div>

                    <div class="about-content">
                        <h2>Our skills makes us famous</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-item">
                    <div class="about-information">
                        <h2><span>21 feb 1998,</span> We started our law firm</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>

                    <div class="about-information">
                        <h2><span>10 March 2000,</span> We started our law firm</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>

                    <div class="about-information">
                        <h2><span>9 Nov 2000,</span> We started our law firm</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>

                    <div class="about-information">
                        <h2><span>25 Jan 2010,</span> We started our law firm</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
