<div class="page-title-area title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Derecho Privado</h2>
                <ul>
                    <li><a routerLink="/">Inicio</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li><a routerLink="/practice">Servicios</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li>Derecho privado</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="help-area help-area-two pb-70">
    <div class="container-fluid">
        <div class="row align-items-center help-wrap pt-100">
            <div class="col-lg-6">
                <div class="help-item">
                    <div class="help-right">
                        <p>Contamos con excelentes experiencia y condiciones académicas y profesionales en todos los aspectos relacionados con el Derecho Privado, cuya práctica se desarrolla desde la asesoría, consultoría y acompañamiento en las diferentes especialidades de ésta área, llegando hasta la representación judicial y extrajudicial garantizando los intereses de todos nuestros clientes. En Derecho Privado y resolución de conflictos, ofrecemos consultorías y asesoría integral a todas las personas naturales y jurídica en:</p>

                        <ul>
                            <li><i class="flaticon-checkmark"></i> Consultoría y acompañamiento en las etapas pre-contractuales, contractuales y post contractuales en todo lo relacionado con la contratación mercantil.</li>
                            <li><i class="flaticon-checkmark"></i> Representación legal en procesos judiciales de naturaleza civil, responsabilidad contractual y extracontractual, cobros coactivos, sucesiones, propiedad y bienes, pertenencias, posesiones, obras civiles, propiedad horizontal, bienes raíces, garantías, derecho policivo, entre otros.</li>
                            <li><i class="flaticon-checkmark"></i> Elaboración de minutas, contratos civiles y comerciales, suscripción de convenios.</li>
                            <li><i class="flaticon-checkmark"></i> Soporte en procesos de negociación de contratación civil y comercial.</li>
                            <li><i class="flaticon-checkmark"></i> Etapas Prejudiciales, Notariales y Judiciales en asuntos de Derecho de Sucesiones, el cual contempla la investigación de bienes del causante.</li>
                            <li><i class="flaticon-checkmark"></i> Consultoría y soporte en procesos pre jurídicos y jurídicos en personas naturales y a nivel empresarial.</li>
                            <li><i class="flaticon-checkmark"></i> Asesoría y asistencia legal en procesos de negociación; celebración, ejecución, terminación y liquidación de contratos civiles y comerciales.</li>
                            <li><i class="flaticon-checkmark"></i> Asuntos y trámites concernientes al derecho de familia, alimentos, custodia, patria potestad, visitas, matrimonio, liquidación y disolución de sociedades conyugales y/o uniones maritales de hecho.</li>
                            <li><i class="flaticon-checkmark"></i> Absolución de consultas jurídicas y elaboración de conceptos en materia civil y comercial.</li>
                            <li><i class="flaticon-checkmark"></i> Asesoría y representación en actuaciones administrativas adelantadas ante la superintendencia de industria y comercio en asuntos relacionados con la protección del consumidor y derecho de la competencia.</li>
                            <li><i class="flaticon-checkmark"></i> Trámite y culminación de procesos ante la jurisdicción civil.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="help-item help-left">
                    <img src="assets/img/servicios/Derecho_Privado.png" alt="Help">
                </div>
            </div>
        </div>
    </div>
</div>

