<div class="page-title-area title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Derecho Laboral y Seguridad Social</h2>
                <ul>
                    <li><a routerLink="/">Inicio</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li><a routerLink="/practice">Servicios</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li>Derecho Laboral y Seguridad Social</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="help-area help-area-two pb-70">
    <div class="container-fluid">
        <div class="container pt-100">
            <p class="text-justify">Nuestra práctica, se enfoca en asesorar a los clientes en  materia laboral individual, colectiva y en seguridad social, teniendo claro los diferentes asuntos que se puedan presentar en las relaciones contractuales entre las empresas y sus trabajadores y/o colaboradores. Brindamos asesoría especializada en contratación de personal y sus diferentes tipos de contratos y su ejecución, de acuerdo a la situación y necesidad de la empresa, además, en el manejo de las relaciones individuales y colectivas entre empleadores y empleados, generación y adopción de las diferentes políticas y comités laborales.</p>
                        <p class="text-justify">Nuestra compañía, también brinda acompañamiento y asesoría en los diferentes investigaciones y/o procesos disciplinarios que surjan de los comportamientos de los empleados, en las negociaciones de terminación de los contratos laborales, despidos, despidos colectivos, planes de retiros voluntarios, reestructuraciones, acompañamiento en los procesos de acoso laboral, diseño, implementación y modificación de planes de beneficios. Además, tenemos una  amplia experiencia en el asesoramiento y representación ante las autoridades administrativas y la  jurisdicción laboral, acompañamos con amplia experiencia las conciliaciones ante el Ministerio de Trabajo.</p>
                        <p class="text-justify">Realizamos un acompañamiento especializado en la representación a personas naturales y jurídicas ante la Unidad de Gestión de Pensiones y Parafiscales – UGPP.</p>
                        <p class="text-justify">Nuestro equipo de trabajo cuenta con personal altamente calificado en materia de seguridad Social, realizamos acompañamiento  en cuanto a los sistemas de pensiones, reconocimientos de pensiones por vejez, invalidez, sustitución pensional, correcciones en las prestaciones sociales, asesoramos a nuestros clientes en reclamaciones al sistema de salud en cuanto a las prestaciones económicas, somos especialistas en el acompañamiento y asesoramiento a perdonas naturales y empresas en los procesos de calificación de pérdida de capacidad laboral y/o origen de las enfermedades o accidentes.</p>
                        <p class="text-justify">Nuestra compañía cuenta con un equipo de profesionales certificados en la implementación de Sistemas de Gestión de Seguridad y Salud en el Trabajo -SG-SST), reglamentos y políticas en materia laboral y demás procesos relacionados con el cumplimiento legal en materia laboral y Seguridad Social.</p>
        </div>
        <div class="row align-items-center pt-100">
            <div class="col-lg-6">
                <div class="help-item help-left">
                    <img src="assets/img/servicios/Derecho_Laboral_y_Seguridad_Social.png" alt="Help">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="help-item">
                    <div class="help-right">


                        <ul>
                            <li><i class="flaticon-checkmark"></i> la absolución de consultas en cualquier tema de carácter laboral y/o seguridad social.</li>
                            <li><i class="flaticon-checkmark"></i> Representación en diligencias administrativas a nivel nacional.</li>
                            <li><i class="flaticon-checkmark"></i> Representación judicial ante la jurisdicción Ordinaria Laboral en todo el territorio nacional.</li>
                            <li><i class="flaticon-checkmark"></i> Asistencia y representación Legal ante el Ministerio de Trabajo, en cualquier tipo de conciliación voluntaria que permita la solución de conflictos laborales con más eficacia y agilidad.</li>
                            <li><i class="flaticon-checkmark"></i> Diligencias administrativas ante cualquier autoridad competente en materia laboral y en Seguridad Social.</li>
                            <li><i class="flaticon-checkmark"></i> Realización e implementación de esquemas de compensación y/o remuneración adecuados para todos los niveles de empleados en las diferentes compañías.</li>
                            <li><i class="flaticon-checkmark"></i> Acompañamiento en el cumplimiento de las normas y obligaciones laborales y de Seguridad Social.</li>
                            <li><i class="flaticon-checkmark"></i> Realización e implementación de Reglamentos y Políticas en materia laboral.</li>
                            <li><i class="flaticon-checkmark"></i> Realización e implementación de los diferentes esquemas de contratación que necesitan las diferentes organizaciones dependiendo el sector económico.</li>
                            <li><i class="flaticon-checkmark"></i> Acompañamiento en la estrategia y negociación de pactos colectivos y/o convenciones colectivas.</li>
                            <li><i class="flaticon-checkmark"></i> Asesoría y acompañamiento en el manejo de las relaciones sindicales.</li>
                            <li><i class="flaticon-checkmark"></i> Absolución de toda clase de consultas en materia laboral y Seguridad Social.</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
