<div class="page-title-area title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Derecho Laboral y Seguridad Social</h2>
                <ul>
                    <li><a routerLink="/">Inicio</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li><a routerLink="/practice">Servicios</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li>Derecho Laboral y Seguridad Social</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="help-area help-area-two pb-70">
    <div class="container-fluid">
        <div class="row align-items-center pt-100">
            <div class="col-lg-6">
                <div class="help-item help-left">
                    <img src="assets/img/servicios/5.jpg" alt="Help">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="help-item">
                    <div class="help-right">
                        <p class="text-justify">Nuestra práctica se encuentra conformada por profesionales especializados en Derecho Laboral y Seguridad Social, con experiencia en consultorías en Derecho Laboral Individual y en Derecho Laboral Colectivo, en litigio en procesos laborales en primera instancia, segunda instancia y Corte Suprema de Justicia.</p>
                        <p class="text-justify">Tenemos la competencia para prestar asesoría integral en materia laboral y seguridad social a personas naturales y jurídicas, en lo siguiente:</p>

                            <ul>
                                <li><i class="flaticon-checkmark"></i> La absolución de consultas.</li>
                                <li><i class="flaticon-checkmark"></i> Representación extraprocesal y judicialmente de clientes, en defensa de sus derechos laborales.</li>
                                <li><i class="flaticon-checkmark"></i> Asesoría, elaboración y revisión de contratos laborales.</li>
                                <li><i class="flaticon-checkmark"></i> Asesoría preventiva a empresas, en búsqueda de la prevención de futuras demandas.</li>
                                <li><i class="flaticon-checkmark"></i> Modalidades de contratación laboral.</li>
                                <li><i class="flaticon-checkmark"></i> Asesoría legal en procesos de selección y búsqueda de candidato.</li>
                                <li><i class="flaticon-checkmark"></i> Asesoría en modalidad de contratación.</li>
                                <li><i class="flaticon-checkmark"></i> Asesoría en modalidades de pago de salarios y prebendas.</li>
                                <li><i class="flaticon-checkmark"></i> Asesoría en llamados de atención, descargos y sanciones de empleado.</li>
                                <li><i class="flaticon-checkmark"></i> Asesoría y acompañamiento en despidos y liquidación de acreencias o créditos laborales.</li>
                                <li><i class="flaticon-checkmark"></i> Asesoría en incapacidades laborales.</li>
                                <li><i class="flaticon-checkmark"></i> Asesoría en enfermedades profesionales.</li>
                                <li><i class="flaticon-checkmark"></i> Asesoría en reservas de confidencialidad para empleados.</li>
                                <li><i class="flaticon-checkmark"></i> Asesorías en estudios de seguridad para empleados.</li>
                                <li><i class="flaticon-checkmark"></i> Elaboración y cumplimiento de reglamentos internos de trabajo.</li>
                                <li><i class="flaticon-checkmark"></i> Manejo de caso en fuero de maternidad.</li>
                                <li><i class="flaticon-checkmark"></i> Manejo de caso en fuero de salud.</li>
                                <li><i class="flaticon-checkmark"></i> Negociaciones y pactos sindicales.</li>
                                <li><i class="flaticon-checkmark"></i> Juicios y conciliaciones laborales.</li>
                                <li><i class="flaticon-checkmark"></i> Tercerización de personal.</li>
                                <li><i class="flaticon-checkmark"></i> Relaciones empresariales con colaboradores.</li>
                                <li><i class="flaticon-checkmark"></i> Relaciones con contratistas bajo contratos de prestación de servicios.</li>
                                <li><i class="flaticon-checkmark"></i> Asesoría y representación en caso de seguridad social, salud, pensión o ARL.</li>
                                <li><i class="flaticon-checkmark"></i> Cambios en las condiciones laborales.</li>
                                <li><i class="flaticon-checkmark"></i> Gestión migratoria de empleados.</li>
                                <li><i class="flaticon-checkmark"></i> Procesos sancionatorios ante el Ministerio del Trabajo y la Unidad de Gestión Pensional y de Parafiscales.</li>
                            </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
