<div class="page-title-area title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Derecho penal</h2>
                <ul>
                    <li><a routerLink="/">Inicio</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li><a routerLink="/practice">Servicios</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li>Derecho penal</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="help-area help-area-two pb-70">
    <div class="container-fluid">
        <div class="row align-items-center pt-100">
            <div class="col-lg-6">
                <div class="help-item help-left">
                    <img src="assets/img/servicios/Derecho_penal.png" alt="Help">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="help-item">
                    <div class="help-right">
                        <p class="text-justify">Asesoría y representación integral en materia penal, mediante estrategias frente a actos delictivos o ilegales que puedan afectar en casos de personas jurídicas, a directivos y funcionarios de empresas, clientes, proveedores y terceros relacionados con la actividad empresarial, al igual que a personas naturales.</p>
                        <p class="text-justify">En materia penal estamos capacitados para desarrollar estrategias frente a actos ilegales o delictivos que puedan afectar los bienes jurídicos de nuestros clientes. Realizamos la representación jurídica en las estapas de indagación y juicio oral en calidad de representante de víctima como, de defensa.</p>
                        <p class="text-justify">Representación judicial y extrajudicial en las etapas del proceso penal, incluyendo la investigación, el juicio y el incidente de reparación integral.</p>

                        <!-- <div class="help-inner-left">
                            <ul>
                                <li><i class="flaticon-checkmark"></i>
                                    Browse Our Website</li>
                                <li><i class="flaticon-checkmark"></i> Choose Services</li>
                            </ul>
                        </div>

                        <div class="help-inner-right">
                            <ul>
                                <li><i class="flaticon-checkmark"></i> Quick Reply</li>
                                <li><i class="flaticon-checkmark"></i> Best Performances</li>
                            </ul>
                        </div>

                        <div class="help-signature">
                            <img src="assets/img/home-one/4.png" alt="Signature">
                        </div>

                        <h3>Barrister Babatunde Smithi</h3>
                        <span>Founder and CEO</span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
