<div class="page-title-area title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Derecho penal</h2>
                <ul>
                    <li><a routerLink="/">Inicio</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li><a routerLink="/practice">Servicios</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li>Derecho penal</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="help-area help-area-two pb-70">
    <div class="container-fluid">
        <div class="row align-items-center pt-100">
            <div class="col-lg-6">
                <div class="help-item help-left">
                    <img src="assets/img/servicios/Derecho_penal.png" alt="Help">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="help-item">
                    <div class="help-right">
                        <p class="text-justify">Asesoría y representación integral  en  materia  penal,  mediante la estructuración de una adecuada  estrategia frente a actos delictivos o ilegales que puedan afectar los derechos fundamentales, Constitucionales y/o procesales de personas naturales y/o  jurídicas que le  garanticen el goce efectivo y real de todos sus derechos.</p>
                        <p><i class="flaticon-checkmark"></i>Asesoría en materia penal, desarrollando una efectiva estrategia frente a los posibles actos ilegales o delictivos que afecten los derechos fundamentales y constitucionales de personas naturales y/o jurídicas, además, que afecten a quienes conforman sus administraciones, sean socios, directivos, representantes legales, clientes, proveedores y cualquier persona sujeta de derechos.</p>
                        <p><i class="flaticon-checkmark"></i>Acompañamiento a conciliaciones judiciales y extrajudiciales, representación de denuncias, búsqueda y recolección de información en materia penal frente a posibles hechos delictivos, análisis y diagnósticos legal frente a diferentes conductas que afecten el ordenamiento jurídico y a los seres sujetos de derechos.</p>
                        <p><i class="flaticon-checkmark"></i>Asesoría y acompañamiento en las diferentes diligencias judiciales incorporadas en nuestro ordenamiento jurídico.</p>
                        <p><i class="flaticon-checkmark"></i>Representación jurídica en calidad de representante de víctimas, como de defensa en las distintas etapas procesales del proceso penal. Indagación, investigación, juicio y el incidente de reparación integral.</p>

                        <!-- <div class="help-inner-left">
                            <ul>
                                <li><i class="flaticon-checkmark"></i>
                                    Browse Our Website</li>
                                <li><i class="flaticon-checkmark"></i> Choose Services</li>
                            </ul>
                        </div>

                        <div class="help-inner-right">
                            <ul>
                                <li><i class="flaticon-checkmark"></i> Quick Reply</li>
                                <li><i class="flaticon-checkmark"></i> Best Performances</li>
                            </ul>
                        </div>

                        <div class="help-signature">
                            <img src="assets/img/home-one/4.png" alt="Signature">
                        </div>

                        <h3>Barrister Babatunde Smithi</h3>
                        <span>Founder and CEO</span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
