<div class="page-title-area title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Pensiones</h2>
                <ul>
                    <li><a routerLink="/">Inicio</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li><a routerLink="/practice">Servicios</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li>Pensiones</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="help-area help-area-two pb-70">
    <div class="container-fluid">
        <div class="row align-items-center help-wrap pt-100">
            <div class="col-lg-6">
                <div class="help-item">
                    <div class="help-right">
                        <p>Nuestra experiencia nos permite brindar una asesoría especializada a cualquier persona que presente inconsistencias en sus aportes pensionales y/o se sienta vulnerado en sus derechos pensionales adquiridos; nuestro trabajo va desde una corrección en su historial laboral hasta la representación legal que le permita el reconocimiento y goce de éste derecho.</p>

                        <ul>
                            <li><i class="flaticon-checkmark"></i> Pensiones por vejez, invalidez y muerte.</li>
                            <li><i class="flaticon-checkmark"></i> Reajustes pensiónales.</li>
                            <li><i class="flaticon-checkmark"></i> Indemnizaciones sustitutivas.</li>
                            <li><i class="flaticon-checkmark"></i> Reclamaciones ante EPS, Aseguradoras de Riesgos Laborales y fondos de pensiones.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="help-item help-left">
                    <img src="assets/img/servicios/5.jpg" alt="Help">
                </div>
            </div>
        </div>
    </div>
</div>
