<div class="page-title-area title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2 class="dorado">Derecho Civil y Comercial</h2>
                <ul>
                    <li><a routerLink="/">Inicio</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li><a routerLink="/practice">Servicios</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li class="dorado">Derecho civil y comercial</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="help-area help-area-two pb-70">
    <div class="container-fluid">
        <div class="container pt-100">
            <p class="text-justify">Ponemos a disposición un equipo especializado en el ámbito civil y comercial, ofreciendo a nuestros clientes asesoría y representación en temas contractuales, resolución de controversias, contratos civiles de promesas, compraventa, cesión de derechos, cesión de contratos, arrendamiento, representación, mandato, prenda e hipoteca, escrituras, entre otros.</p>
        </div>
        <div class="row align-items-center help-wrap pt-50">
            <div class="col-lg-6">
                <div class="help-item">
                    <div class="help-right">
                        <ul>
                            <li><i class="dorado flaticon-checkmark"></i> Consultas y elaboración de conceptos en materia comercial y civil.</li>
                            <li><i class="dorado flaticon-checkmark"></i> Elaboración y análisis de contratos comerciales y civiles.</li>
                            <li><i class="dorado flaticon-checkmark"></i> Asesoría en procesos de negociación de contratación comercial.</li>
                            <li><i class="dorado flaticon-checkmark"></i> Asesoría en suscripción de convenios y contratos civiles y Mercantiles.</li>
                            <li><i class="dorado flaticon-checkmark"></i> Representación Legal en procesos judiciales de naturaleza civil.</li>
                            <li><i class="dorado flaticon-checkmark"></i> Asesoría y acompañamiento en las etapas precontractual, contractual y pos contractual en materia de contratación.</li>
                            <li><i class="dorado flaticon-checkmark"></i> Asesoría en contratos de compraventas de bienes inmuebles, tradición del bien, escrituras y registro ante oficinas de Instrumentos Públicos.</li>
                            <li><i class="dorado flaticon-checkmark"></i> Contratación de Transporte.</li>
                            <li><i class="dorado flaticon-checkmark"></i> Trámites ante la Superintendencia de Industria y Comercio.</li>
                            <li><i class="dorado flaticon-checkmark"></i> Asesoría y acompañamiento en la adquisición de compañías, fusiones, incrementos de capital, disolución y liquidación de Sociedades.</li>
                            <li><i class="dorado flaticon-checkmark"></i> Asesoría y acompañamientos en procesos concursales ante la Superintendencia de industria y comercio.</li>
                            <li><i class="dorado flaticon-checkmark"></i> Asesoría y acompañamiento en la constitución y legalización de nuevas sociedades.</li>
                            <li><i class="dorado flaticon-checkmark"></i> Adelantamos todos los procesos tendientes al cumplimiento de las obligaciones económicas, manejos de cartera, cobros pre-jurídicos y jurídicos.</li>
                            <li><i class="dorado flaticon-checkmark"></i> Asesoría y representación Jurídica ante tribunales de arbitramento a nivel nacional.</li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="help-item help-left">
                    <img src="assets/img/servicios/Derecho_Privado.png" alt="Help">
                </div>
            </div>
        </div>
    </div>
</div>

