.slider-text h1{
    color: #d3a343;
}
.slider-text h3{
    color: white;
}
.slider-text p{
    color: white;
}
.slider-text span{
    color: #d3a343;
    font-size:larger;
}
.dorado{
    color: #d3a343;
}

.negro{
    color: #111;
}
