<div class="page-title-area title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2 class="dorado">Derecho de Familia</h2>
                <ul>
                    <li><a routerLink="/">Inicio</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li><a routerLink="/practice">Servicios</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li class="dorado">Derecho de familia</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="help-area help-area-two pb-70">
    <div class="container-fluid">
        <div class="row align-items-center help-wrap pt-100">
            <div class="col-lg-6">
                <div class="help-item">
                    <div class="help-right">
                        <p>Tenemos la misión de acompañar el manejo de las relaciones familiares y buscar soluciones efectivas a las diferentes situaciones de conflicto entre parejas, hijos y sus correspondientes cuidados, derechos y obligaciones, realizamos asesorías y acompañamiento en los aspectos económicos y patrimoniales del núcleo familiar. Lo anterior se desarrolla generando una apropiada negociación, un acompañamiento y representación en todos los trámites ante las autoridades administrativas, notarios, centros de conciliación, así mismo, en los procesos judiciales que sean necesarios para obtener una solución justa en las relaciones y/o conflictos familiares.</p>

                        <ul>
                            <li><i class="dorado flaticon-checkmark"></i> Asuntos alimentarios.</li>
                            <li><i class="dorado flaticon-checkmark"></i> Permisos de salidas del país para menores de edad.</li>
                            <li><i class="dorado flaticon-checkmark"></i> Disolución y liquidación de sociedades conyugales y patrimoniales.</li>
                            <li><i class="dorado flaticon-checkmark"></i> Impugnación e investigaciones de paternidad.</li>
                            <li><i class="dorado flaticon-checkmark"></i> Separaciones de bienes voluntarias y contenciosas.</li>
                            <li><i class="dorado flaticon-checkmark"></i> Declaración de unión marital de hecho y sociedad patrimonial.</li>
                            <li><i class="dorado flaticon-checkmark"></i> Divorcios.</li>
                            <li><i class="dorado flaticon-checkmark"></i> Nulidades matrimoniales.</li>
                            <li><i class="dorado flaticon-checkmark"></i> Capitulaciones matrimoniales y maritales.</li>
                            <li><i class="dorado flaticon-checkmark"></i> Patria potestad, custodia, cuidado personal y régimen de visitas.</li>
                            <li><i class="dorado flaticon-checkmark"></i> Testamentos.</li>
                            <li><i class="dorado flaticon-checkmark"></i> Sucesiones.</li>
                            <li><i class="dorado flaticon-checkmark"></i> Protección de personas en situación de discapacidad.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="help-item help-left">
                    <img src="assets/img/home-one/5.jpg" alt="Help">
                </div>
            </div>
        </div>
    </div>
</div>
